<%- include("../../partials/head", { title: "Admin add school" }) %>
  <body>
    <h2>Admin Add School</h2>
    <%- include("../../partials/navbar", { user }) %>
    <% let selectDirectorHtml = htmlHelper.getSelectIdCodeFromArr(directors, "directorId", "name", "directorControl", "form-control") %>
    <form action="/admin/schools/add" method="POST">
        <div>
            <label for="nameControl" class="form-label">Name: </label>
            <input type="text" id="nameControl" class="form-control" name="name"/>
        </div>
        <div>
          <label for="addressControl" class="form-label">Address: </label>
          <input type="text" id="addressControl" class="form-control" name="address"/>
        </div>
        <div>
          <label for="directorControl" class="form-label">Director: </label>
          <%- selectDirectorHtml %>
        </div>
        <button type="submit" class="btn">Save school</button>
    </form>
    <%- include("../../partials/footer", { title: "Admin add school" }) %>

  </body>
</html>
