<%- include("partials/head", { title: "Dashboard" }) %>
  <body>
    <h1>Hello from dashboard.ejs</h1>
    <%- include("partials/navbar", { user }) %> <%- include("partials/footer", {
    title: "Dashboard" }) %>
  </body>
</html>
