<%- include("partials/head", { title: "Home" }) %>
  <body>
    <h1>Hello from index.ejs</h1>
    <%- include("partials/navbar", { user }) %>

<%- include("partials/footer", { title: "Home" }) %>
  </body>
</html>
